
// Body
$body-bg: #f5f8fa;
$main-red: #FF0000;
$main-black: #1A1A1A;
$primary: #0074F9;
$secondary-black: #606060;

// Typography
$font-family-sans-serif: "Poppins", sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.5;

// Toastr
@import "~toastr/build/toastr.min";
